<div class="bg-gray-900 min-h-screen text-white p-1">
  <h1 class="text-3xl font-bold text-center mb-2">Cash Sales</h1>

  <!-- Navigation Buttons -->
  <div class="flex justify-between items-center mb-4">
    <!-- Search Form -->
    <form class="flex-1 mr-4">
      <div class="relative">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          [(ngModel)]="searchQuery"
          (input)="getAllProducts()"
          type="search"
          name="default-search"
          class="block w-full p-3 pl-10 text-sm text-gray-900 border border-gray-600 rounded-lg bg-gray-700 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Search products"
          required
        />
      </div>
    </form>
    <input
      #barcodeInput
      (keydown.enter)="onBarcodeScanned(barcodeInput.value)"
      placeholder="Scan barcode"
      class="text-black"
    />

    <div class="flex space-x-2">
      <button
        routerLink="/invoices"
        class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded-full flex items-center"
      >
        <svg
          class="w-5 h-5 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
          ></path>
        </svg>
        Sales
      </button>
      <button
        routerLink="/credit_sales"
        class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-3 rounded-full flex items-center"
      >
        <svg
          class="w-5 h-5 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
          ></path>
        </svg>
        Credit Sales
      </button>
      <button
        routerLink="/quotations"
        class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-3 rounded-full flex items-center"
      >
        <svg
          class="w-5 h-5 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
          ></path>
        </svg>
        Quotations
      </button>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex flex-col lg:flex-row space-y-8 lg:space-y-0 lg:space-x-8">
    <!-- Products Table -->
    <div class="lg:w-1/2" *ngIf="!showPayment">
      <div
        *ngIf="!productsLoading"
        class="bg-gray-800 rounded-lg shadow-lg overflow-hidden"
      >
        <table class="w-full text-sm text-left text-gray-400 mb-10">
          <thead class="text-xs uppercase bg-gray-700 text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Image</th>
              <th scope="col" class="px-6 py-3">Name</th>
              <th scope="col" class="px-6 py-3">Quantity</th>
              <th scope="col" class="px-6 py-3">Selling Price</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let product of products"
              (click)="onProductClick(product)"
              class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600 cursor-pointer"
            >
              <th scope="col" class="px-16 py-3">
                <span class="sr-only">Image</span>
                <svg
                  class="w-6 h-6 text-gray-400"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
                  ></path>
                </svg>
              </th>
              <td class="px-6 py-4 font-semibold">{{ product.name }}</td>
              <td class="px-6 py-4">{{ product.quantity }}</td>
              <td class="px-6 py-4">Ksh. {{ product.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        *ngIf="productsLoading"
        class="flex justify-center items-center w-full"
      >
        <app-loader></app-loader>
      </div>
    </div>

    <!-- Selected Products Table -->
    <div class="lg:w-1/2">
      <div class="bg-gray-800 rounded-lg shadow-lg overflow-hidden">
        <table class="w-full text-sm text-left text-gray-400">
          <thead class="text-xs uppercase bg-gray-700 text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Product</th>
              <th scope="col" class="px-6 py-3">Qty</th>
              <th scope="col" class="px-6 py-3">Price</th>
              <th scope="col" class="px-6 py-3">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let product of selectedProducts; let i = index"
              class="border-b bg-gray-800 border-gray-700"
            >
              <td class="px-6 py-4 font-semibold">{{ product.name }}</td>
              <td class="px-6 py-4">
                <div class="flex items-center space-x-3">
                  <button
                    (click)="reduceQuantity(product)"
                    class="text-gray-400 hover:text-white"
                  >
                    <svg
                      class="w-5 h-5"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M20 12H4"
                      ></path>
                    </svg>
                  </button>
                  <span>{{ product.selectedProducts }}</span>
                  <button
                    (click)="addQuantity(product)"
                    class="text-gray-400 hover:text-white"
                  >
                    <svg
                      class="w-5 h-5"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                      ></path>
                    </svg>
                  </button>
                </div>
              </td>
              <td class="px-6 py-4">
                Ksh. {{ product.price * product.selectedProducts! }}
              </td>
              <td class="px-6 py-4">
                <button
                  (click)="removeSelectedProduct(i)"
                  class="text-red-500 hover:text-red-700"
                >
                  <svg
                    class="w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    ></path>
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Proceed to Payment Button -->
      <div class="mt-6 flex justify-end">
        <button
          *ngIf="selectedProducts.length > 0 && !showPayment"
          (click)="showPayment = true"
          class="px-6 py-3 bg-blue-600 text-white rounded-full hover:bg-blue-700 transition-colors flex items-center"
        >
          <svg
            class="w-5 h-5 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14 5l7 7m0 0l-7 7m7-7H3"
            ></path>
          </svg>
          Proceed to Make Payments
        </button>
      </div>
    </div>

    <!-- <div class="payment-section" *ngIf="showPayment">
    <h2>Payment Methods</h2>
    <div class="flex flex-col gap-3">
      <label class="w-[50px] flex flex-row gap-3">
        Cash:
        <input
          class="text-white bg-[#333] w-30 border-solid border-2 border-[#555] rounded"
          type="number"
          [(ngModel)]="paymentMethods.cash"
        />
      </label>
      <label class="w-[50px] flex flex-row gap-3">
        Mpesa:
        <input
          class="text-white bg-[#333] w-30 border-solid border-2 border-[#555] rounded"
          type="number"
          [(ngModel)]="paymentMethods.mpesa"
        />
      </label>
      <label class="w-[50px] flex flex-row gap-3">
        Bank:
        <input
          class="text-white bg-[#333] w-30 border-solid border-2 border-[#555] rounded"
          type="number"
          [(ngModel)]="paymentMethods.bank"
        />
      </label>
    </div>

    <div class="summary">
      <div class="summary-item">
        <span>Subtotal:</span>
        <span>{{ calculateSubtotalTotal() }}</span>
      </div>
      <div class="summary-item">
        <span>Discount:</span>
        <span>{{ calculateDiscountTotal() }}</span>
      </div>
      <div class="summary-item">
        <span>Tax (16%):</span>
        <span>{{ calculateTax() }}</span>
      </div>
      <div class="summary-item">
        <span>Total to Pay:</span>
        <span>{{ calculateTotal() }}</span>
      </div>
    </div>

    <button (click)="submitOrder()">Submit Payment</button>
  </div> -->
    <div class="p-1 w-[60%]" *ngIf="showPayment">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-400">
          <thead class="text-xs uppercase bg-gray-700 text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Description</th>
              <th scope="col" class="px-6 py-3">Amount</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr class="border-b bg-gray-800 border-gray-700">
              <td class="px-6 py-4 font-semibold text-white">Subtotal</td>
              <td class="px-6 py-4 font-semibold text-white">
                Ksh. {{ calculateSubtotalTotal() | number : "1.2-2" }}
              </td>
            </tr> -->
            <!-- <tr class="border-b bg-gray-800 border-gray-700">
              <td class="px-6 py-4 font-semibold text-white">Tax (16%)</td>
              <td class="px-6 py-4 font-semibold text-white">
                Ksh. {{ calculateTax() | number : "1.2-2" }}
              </td>
            </tr> -->
            <tr class="border-b bg-gray-800 border-gray-700">
              <td class="px-6 py-4 font-semibold text-white">Total</td>
              <td class="px-6 py-4 font-semibold text-white text-2xl">
                Ksh. {{ calculateTotal() | number : "1.2-2" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-6 bg-gray-800 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-semibold text-white mb-6">Payment Methods</h3>

        <div class="mb-6">
          <label class="block mb-2 text-sm font-medium text-gray-300"
            >Select Payment Method</label
          >
          <div class="flex space-x-4">
            <button
              (click)="selectedPaymentMethod = 'cash'"
              [ngClass]="{
                'bg-blue-600': selectedPaymentMethod === 'cash',
                'bg-gray-600': selectedPaymentMethod !== 'cash'
              }"
              class="px-4 py-2 text-white rounded transition-colors"
            >
              Cash
            </button>
            <button
              (click)="selectedPaymentMethod = 'mpesa'"
              [ngClass]="{
                'bg-blue-600': selectedPaymentMethod === 'mpesa',
                'bg-gray-600': selectedPaymentMethod !== 'mpesa'
              }"
              class="px-4 py-2 text-white rounded transition-colors"
            >
              M-Pesa
            </button>
            <button
              (click)="selectedPaymentMethod = 'bank'"
              [ngClass]="{
                'bg-blue-600': selectedPaymentMethod === 'bank',
                'bg-gray-600': selectedPaymentMethod !== 'bank'
              }"
              class="px-4 py-2 text-white rounded transition-colors"
            >
              Bank
            </button>
          </div>
        </div>

        <div [ngSwitch]="selectedPaymentMethod">
          <div *ngSwitchCase="'cash'" class="space-y-4">
            <div>
              <label
                for="cash"
                class="block mb-2 text-sm font-medium text-gray-300"
                >Cash Amount</label
              >
              <input
                type="number"
                id="cash"
                [(ngModel)]="paymentMethods.cash"
                class="w-full border text-sm rounded-lg block px-3 py-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="Enter cash amount"
              />
            </div>
            <div class="text-right">
              <span class="text-lg font-semibold text-white"
                >Total: Ksh. {{ calculateTotal() | number : "1.2-2" }}</span
              >
              <button
                (click)="payAll()"
                class="px-6 ml-2 bg-green-600 text-white rounded hover:bg-green-700 transition-colors"
              >
                Pay All
              </button>
            </div>
          </div>

          <div *ngSwitchCase="'mpesa'" class="space-y-4">
            <div>
              <label
                for="mpesaNumber"
                class="block mb-2 text-sm font-medium text-gray-300"
                >M-Pesa Number</label
              >
              <input
                type="text"
                id="mpesaNumber"
                [(ngModel)]="mpesaPaymentNumber"
                class="w-full border text-sm rounded-lg block px-3 py-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="Enter M-Pesa Number"
              />
            </div>
            <div class="flex flex-row justify-between items-center">
              <div>
                <span class="text-lg font-semibold text-white"
                  >Total: Ksh. {{ calculateTotal() | number : "1.2-2" }}</span
                >
              </div>
              <div class="flex justify-end">
                <button
                  *ngIf="!sendingMpesaRequest"
                  (click)="sendMpesaStkPushRequest()"
                  class="px-6 py-1 bg-green-600 text-white rounded hover:bg-green-700 transition-colors"
                >
                  Send STK Push
                </button>
                <button
                  *ngIf="sendingMpesaRequest"
                  class="px-6 py-2 bg-green-600 text-white rounded flex items-center justify-center"
                >
                  <span class="mr-2">Sending Request</span>
                  <app-btn-loder></app-btn-loder>
                </button>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'bank'" class="space-y-4">
            <div>
              <label
                for="bank"
                class="block mb-2 text-sm font-medium text-gray-300"
                >Bank Amount</label
              >
              <input
                type="number"
                id="bank"
                [(ngModel)]="paymentMethods.bank"
                class="w-full border text-sm rounded-lg block px-3 py-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="Enter bank amount"
              />
            </div>
            <div class="text-right">
              <span class="text-lg font-semibold text-white"
                >Total: Ksh. {{ calculateTotal() | number : "1.2-2" }}</span
              >
              <button
                (click)="payAll()"
                class="px-6 ml-2 bg-green-600 text-white rounded hover:bg-green-700 transition-colors"
              >
                Pay All
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 flex justify-between">
        <button
          (click)="showPayment = false"
          class="px-4 py-2 bg-gray-600 text-white rounded hover:bg-gray-700 transition-colors"
        >
          Back To Products
        </button>
        <button
          (click)="openDialog()"
          class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition-colors"
        >
          Submit Payment
        </button>
      </div>
    </div>
  </div>
</div>
